* {
	border: 1px dashed red;
	min-height: 10px;
}
body {
	background: black;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	border-radius: 20px;
	padding: 20px;
}
.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 400px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 1px solid grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: grey;
	padding: 5px;
}
.bn632-hover {
	width: 160px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	margin: 20px;
	height: 55px;
	text-align: center;
	border: none;
	background-size: 300% 100%;
	border-radius: 50px;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.bn632-hover:hover {
	background-position: 100% 0;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
	outline: none;
}

.bn632-hover.bn22 {
	background-image: linear-gradient(to right, #808080, #a9a9a9, #c0c0c0, #d3d3d3);
	box-shadow: 0 4px 15px 0 rgba(169, 169, 169, 0.75);
}
